.team-section {
    background-color: #F4F4FD;
}
.team-title {
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
}


.team-item{
    background-color: #FFFFFF;
}
.team-subtitle{
    font-weight: 500;
        font-size: 20px;
        color: #2E2F42;
        text-align: center;
        line-height: 1.2
}
.team-text{
        text-align: center;
        }